<h2><%= @name %></h2>

<div><p>Email: <%= @email %></p></div>

<div>
  <p>Interests: <%= comma_list(@interests) %></p>
</div>

<div class="footer">
  <h4>Other users:</h4>
  <ul>
    <% @yaml.each_key do |key| %>
      <% next if key.to_s == @name %>
      <li><a href="/<%= key %>"><%= key.to_s %></a></li>
    <% end %>
  </ul>
</div>